<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwzy.mapper.before.FocusMapper">
   <select id="select" resultType="map">
        select *
        from focustable
        where busertable_id=#{userId} and goodstable_id=#{goodsId}
   </select>

    <insert id="add">
        insert into focustable
        values(null,#{goodsId},#{userId},now())
    </insert>
</mapper>